body
	{
	margin: 0; /* margin and padding only necessary to cater for Mac IE5 */
	padding: 0;
	/*\*/	overflow: hidden; /* because Mac IE5 don't understand */
	}
div
	{
	margin: 0;
	padding: 0;
	}
#content
	{
	/*\*/
	position: absolute;
	top: 125px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/* Exclude all previous props for Mac IE5 */
	margin: 125px 0px 0px 0px; /* Cater for Mac IE5 */
	/*\*/ margin: 0; /* Put back for all the rest */
	/*\*/ overflow: auto; /* no need for Mac IE5 to see this */
	}
#header
	{
	position: absolute;
	top: 0;
	/*\*/right: 0px;
	left: 0px;   /* Exclude right and left props for Mac IE5 */
	margin: 0 305px 0 155px;
	/*\*/ margin: 0; /* */
	height: 127px;
	}
#footer
	{
	/*\*/ position: absolute;  /* Exclude for Mac IE5 */
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 0px;
	margin: 0 0px 0 0px; /* Cater for Mac IE5 */
	/*\*/ margin: 0; /* Put back for all the rest */
	}
#footer h4
	{
	position: absolute;
	bottom: 0;
	width: 0%;
	margin: 0;
	padding: 0;
	}
</style>
<!--[if lt IE 7]>
<style type="text/css" media="screen">
/* let the IE expressions commence */
#sidebar-left
	{
	height: expression(document.body.clientHeight + "px");
	}
#sidebar-right
	{
	height: expression(document.body.clientHeight + "px");
	}
#content
	{
	height: expression(document.body.clientHeight - (100 + 120 + (2 * 5)) + "px");
	width: expression(document.body.clientWidth - (150 + 300 + (2 * 5)) + "px");
	}
#header
	{
	width: expression(document.body.clientWidth - (150 + 300 + (2 * 5)) + "px");
	}
#footer
	{
	width: expression(document.body.clientWidth - (150 + 300 + (2 * 5)) + "px");
	}
</style>
<![endif]-->
<style type="text/css">
/* settings for appearance alone */
body { background: #006f58; }
#content { background: #002242; }
#sidebar-left { background: #cc9999; }
#sidebar-right { background: #ffcc99; }
#header { background: #9999cc; }
#footer { background: #99cc99; }
#footer h4 { background: #ccffcc; }
/* convenience div for padding inside positioned divs */
div.paddingwrap
	{
	margin: 0;
	padding: 0em;
	}
p, h1, h2, h4, li
	{
	margin: 0;
	padding: 0;
	}
h3
	{
	margin: 1em 0 0 0;
	}
ol
	{
	margin: 0 0 0em 0em;
	padding: 0;
	}
code
	{
	display: block;
	background-color: #006f58;
	}